<?xml version="1.0"?>

<window>
  <width>960</width>
  <height>720</height>
</window>

<plugin filename="ImageDisplay" name="IBVS Camera First Person">
  <gz-gui>
    <title>IBVS Camera — First Person</title>
    <property key="state" type="string">docked</property>
  </gz-gui>
  <topic>/world/default/model/x500_mono_cam_0/link/camera_link/sensor/camera/image</topic>
  <topic_picker>false</topic_picker>
</plugin>
